
.booking-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.reservations-form {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    padding: 50px 70px 50px 70px;
    border-radius: 10px;
    width: calc(var(--max-width) - 140px);
    gap: 1%;
}

.reservations-form h2 {
    margin: 0 auto;
}

.reservations-form label{
    margin-bottom: 5px;
}

.reservations-form input,
.reservations-form select {
    margin-bottom: 3%;
}

.reservations-form .submit-btn {
    padding: 10px 30px;
    border-radius: 10px;
    width: fit-content;
    margin: 0px auto;
    border: none;
    background-color: var(--yellow);
    font-weight: 600;
}

.reservations-form .submit-btn:hover{
    cursor: pointer;
}