:root {
  --green: #495E57;
  --yellow: #F4CE14;
  --darker-peach: #EE9972;
  --lighter-peach: #FBDABB;
  --off-white: #EDEDEE;
  --off-black: #333333;

  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
  display: inline-block;
}

button:hover {
  cursor: pointer;
}

.title {
  font-family: Markazi Text;
  font-size: 64px;
  font-weight: medium;
  color: var(--yellow);
}

.sub-title {
  font-family: Markazi Text;
  font-size: 40px;
}

.section-title {
  font-family: Karla;
  font-weight: extra bold;
  text-transform: uppercase;
  font-size: 16px;
}

.card-title {
  font-family: Karla;
  font-size: 18px;
  font-weight: extra bold;
}

.descriptive-text {
  font-family: Karla;
  font-size: 18px;
  font-weight: medium;
}

p {
  font-family: Karla;
  font-size: 16px;
  line-height: 1.5;
  max-width: 65ch;
}